.fix-columns {
  display: relative;
}

div[class~='fgrid'] {
  display: flex;
  flex-flow: column wrap;
  align-content: space-between;
  height: 600px;
  flex-basis: 100%;
  flex: 1 1 auto;
  overflow: auto; /* new */
}

/* :root {
  --w-1: '100%';
  --w-2: '25%';
  --w-3: '33,33%';
  --w-4: '25%';
  --w-5: '20%';
  --w-6: '16%';
  --w-7: '14%';
  --w-8: '12%';
} */

.fgrid {
  position: relative;
  display: flex;
  flex-flow: column wrap;
  align-content: space-between;
}

.fgrid-2 {
  position: relative;
}
.fgrid-3 {
  position: relative;
}
.fgrid-4 {
  position: relative;
}
.fgrid-5 {
  position: relative;
}
.fgrid-6 {
  position: relative;
}
.fgrid-7 {
  position: relative;
}

.fgrid-1 {
  position: relative;
  width: 100%;
}

.w-2m {
  position: relative;
  width: 50%;
}
.w-3m {
  position: relative;
  width: 33%;
}
.w-4m {
  position: relative;
  width: 25%;
}
.w-5m {
  position: relative;
  width: 20%;
}
.w-6m {
  position: relative;
  width: 16%;
}
.w-7m {
  position: relative;
  width: 14%;
}

.w-8m {
  position: relative;
  width: 12.5%;
}
