.fix-columns {
  display: relative;
}

div[class~='fgrid'] {
  align-content: space-between;
  flex-direction: row;
    width: 100%;
  overflow: auto; /* new */
}

/* :root {
  --w-1: '100%';
  --w-2: '25%';
  --w-3: '33,33%';
  --w-4: '25%';
  --w-5: '20%';
  --w-6: '16%';
  --w-7: '14%';
  --w-8: '12%';
} */

.fgrid {
  position: relative;
  display: flex;
  flex-flow: column wrap;
  align-content: space-between;
}

.w-1m {
  position: relative;
  width: 100%;
}

.w-2m {
  position: relative;
  width: 50%;
}
.w-3m {
  position: relative;
  width: 33%;
}
.w-4m {
  position: relative;
  width: 25%;
}
.w-5m {
  position: relative;
  width: 20%;
}
.w-6m {
  position: relative;
  width: 16%;
}
.w-7m {
  position: relative;
  width: 14%;
}

.w-8m {
  position: relative;
  width: 12.5%;
}

.w-9m {
  position: relative;
  width: 11.1%;
}

.w-10m {
  position: relative;
  width: 11.1%;
}

.w-250 {
  width: 300px;
  height: 100vh;
  overflow-y: auto;
  margin-right: 20px;
}

.content {  
  width: calc(100% - 500px)
  
}


.section-btn {
}
